In [11]:
import requests
import pandas as pd
from sqlalchemy import create_engine
import schedule
import time

# Configurações do banco de dados
DB_TYPE = 'mysql'  # ou 'postgresql', 'sqlite', etc.
DB_DRIVER = 'pymysql'  # ou o driver apropriado para o seu banco de dados
DB_USER = 'usuario'
DB_PASS = 'senha'
DB_HOST = 'localhost'
DB_PORT = '3306'  # ou a porta apropriada para o seu banco de dados
DB_NAME = 'nome_do_banco'
ACCESS_TOKEN_URL = 'https://oauth.battle.net/token'
# String de conexão SQLAlchemy
#DATABASE_URI = f'{DB_TYPE}+{DB_DRIVER}://{DB_USER}:{DB_PASS}@{DB_HOST}:{DB_PORT}/{DB_NAME}'
#engine = create_engine(DATABASE_URI)

# URL da API
API_URL = 'https://us.api.blizzard.com/data/wow/connected-realm/4408/auctions/6?namespace=dynamic-classic-us&locale=en_US&access_token=EUTMlTIQa1SFdeQpGbzo23AFX4eXKhmNrj'

def get_access_token(url, client_id, client_secret):
    response = requests.post(
        url,
        data={"grant_type": "client_credentials"},
        auth=(client_id, client_secret),
    )
    return response.json()["access_token"]

def fetch_and_store_data():
    # Realiza a requisição GET à API
    response = requests.get(API_URL)
    data = response.json()

    # Converte os dados para um DataFrame do pandas
    df = pd.DataFrame(data)
    print(df.head())
    # Insere os dados no banco de dados
    #df.to_sql('nome_da_tabela', con=engine, if_exists='append', index=False)
    #print(f'Dados inseridos no banco de dados às {time.strftime("%Y-%m-%d %H:%M:%S")}')

# Agendamento da tarefa a cada 5 minutos
#schedule.every(5).minutes.do(fetch_and_store_data)
#fetch_and_store_data()
# Loop para manter o script rodando e executar as tarefas agendadas
#while True:
    #schedule.run_pending()
    #time.sleep(1)

In [27]:
response = requests.get(API_URL)
data = response.json()
data = data['auctions']
df = pd.DataFrame(data)
df['item'] = df['item'].apply(lambda x: x['id'])

In [29]:
from datetime import datetime, timedelta
df['data'] = datetime.now()

In [34]:
df.head()

    item     bid  buyout  quantity time_left                       data
0  12184   17772   18707        13     SHORT 2024-06-07 15:38:00.624636
1  52555  421838  444040        20     SHORT 2024-06-07 15:38:00.624636
2  52555  421838  444040        20     SHORT 2024-06-07 15:38:00.624636
3  52555  421838  444040        20     SHORT 2024-06-07 15:38:00.624636
4  52555  421838  444040        20     SHORT 2024-06-07 15:38:00.624636

In [35]:
df.describe()

,item,bid,buyout,quantity,data
count,377414.000000,3.774140e+05,3.774140e+05,377414.000000,377414
mean,37965.635316,2.342591e+06,3.522512e+06,7.004200,2024-06-07 15:38:00.624638
min,35.000000,1.000000e+00,0.000000e+00,1.000000,2024-06-07 15:38:00.624636
25%,21877.000000,5.936925e+04,6.994925e+04,1.000000,2024-06-07 15:38:00.624636
50%,43115.000000,2.399280e+05,2.799970e+05,1.000000,2024-06-07 15:38:00.624636
75%,52985.000000,7.256290e+05,8.097190e+05,15.000000,2024-06-07 15:38:00.624636
max,209529.000000,2.000000e+09,2.000000e+09,1000.000000,2024-06-07 15:38:00.624636
std,19546.753889,2.466818e+07,2.755737e+07,12.627679,NaN

In [39]:
len(df.index)-df.count()

item         0
bid          0
buyout       0
quantity     0
time_left    0
data         0
dtype: int64